<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreeChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <FreeChat.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>anon</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>AAAAAA</value>
            </setting>
            <setting name="SendPort" serializeAs="String">
                <value>52665</value>
            </setting>
            <setting name="RecvPort" serializeAs="String">
                <value>52666</value>
            </setting>
            <setting name="Secret" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeFore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ThemeBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ThemeTBFore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ThemeTBBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ThemeTBBorder" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ThemeBtnFore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ThemeBtnBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ThemeBtnBorder" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ThemeBtnHover" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
        </FreeChat.Properties.Settings>
    </userSettings>
</configuration>
